a[href]{
    color:snow;
    background:wheat;
}
header{
    background-color: wheat;
    padding:10px;
    text-align: center;
    position:fixed;
}
.banner  .welcome{
    position:absolute;
    left: 70%;
    top:15%;
    color:white;
}
.banner img{
    max-width: 100%;
    max-height:100%;
}
.banner h2{
    font-size: 30px;
}
.banner h2 span{
    font-size:35px;/*1.1em */
}